# Node
node_modules/
dist/
build/
*.log

# SO/editores
.DS_Store
.vscode/
.idea/

# Binarios comunes (NO subir)
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.ico
*.icns
*.mp4
*.mov
*.pdf
*.zip
*.gz
*.tar
*.7z
*.exe
*.dmg

# Permitimos SVG (texto)
!*.svg
